<head>
    <title>static.OS</title>
    <meta name="description" content="Home of static noise and other static.grl's music and art">
    <meta name="robots" content="index, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta property="og:site_name" content="static.OS" />
    <meta property="og:title" content="static.OS" />
    <meta property="og:description" content="Home of static noise and other static.grl's music and art" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://raw.githubusercontent.com/Dioinecail/staticOS-content/master/share_banner.jpg" />
    <meta property="og:url" content="https://dioinecail.gitlab.io/threejs-test/" />
    <meta name="twitter:title" content="static.OS" data-react-helmet="true">
    <meta name="twitter:description" content="Home of static noise and other static.grl's music and art" />
    <meta name="twitter:card" content="summary_large_image" data-react-helmet="true">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Dioinecail/staticOS-content/master/share_banner.jpg" />
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/links.css">
    <link rel="stylesheet" href="styles/music.css">
    <link rel="stylesheet" href="styles/blog.css">
    <link rel="stylesheet" href="styles/likes.css">
    <link rel="stylesheet" href="styles/homepage.css">
    <link rel="stylesheet" href="styles/portfolio.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <script type="importmap">
        {
          "imports": {
            "three": "./src/external/three.module.js",
            "three/addons/": "./src/external/jsm/"
          }
        }
    </script>
    <script type="module" src="src/main.js"></script>
    <script type="module" src="src/Auth.js"></script>
    <script type="module" src="src/Homepage.js"></script>
    <script type="module" src="src/PostProcess.js"></script>
    <script type="module" src="src/ChromaticPass.js"></script>
    <script type="module" src="src/content/Art.js"></script>
    <script type="module" src="src/content/Links.js"></script>
    <script type="module" src="src/content/Music.js"></script>
    <script type="module" src="src/content/Blog.js"></script>
    <script type="module" src="src/content/General.js"></script>
    <script type="module" src="src/content/Likes.js"></script>
    <script type="module" src="src/content/Portfolio.js"></script>
</head>
<body>
  <form action="">
    <input name="username" type="text" id="logon-input-mobile" class="logon-input-mobile">
  </form>
  <div id="css-renderer"></div>
  <div class="homepage-root"></div>
  <div class="portfolio-root" style="display: none;">
    <div class="category-header">PORTFOLIO</div>
    <div class="portfolio-content-container"></div>
  </div>
  <div class="general-root">
    <button class="btn-back" style="display: none;"><- BACK</button>
  </div>
  <!-- <div id="cursor-circle" class="cursor-circle">
    <img src="./content/cursor_circle.svg" style="position: fixed;">
    <img src="./content/cursor_circle.svg" style="position: fixed;">
  </div> -->
</body>