<div id="{portfolio-youtube-container-id}" class="portfolio-youtube-container">
    <iframe id="yt-iframe" style="pointer-events: all;" src="" frameborder="0" class="video-embed"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="crt-image-container"></div>
    <div class="yt-description-container">
        <div class="yt-title"></div>
        <div class="yt-work"></div>
        <div class="yt-game"></div>
        <div class="yt-game-url"></div>
        <div class="yt-year"></div>
    </div>
</div>