.blog-text {
    display: block;
    width: 390px;
    padding: 5px;
    border-radius: 5px;
    font-size: 8px;
    color: #009C9B;
    background-color: #23193f;
    font-family: 'space-mono';
    margin-top: 2px;
    margin-bottom: 2px;
}

@keyframes popText {
    0% {
        transform: scale(0.01, 1.0);
    }

    100% {
        transform: scale(1.0, 1.0);
    }
}

@font-face {
    font-family: 'space-mono';
    src: url('../content/fonts/SpaceMono-Regular.ttf');
}

.blog-pic {
    display: flex;
    width: 300px;
    margin-top: 2px;
    margin-bottom: 2px;
    /* border-radius: 5px; */
    background-size: contain;
}

.blog-folder-container {
    display: flex;
    width: 90px;
    height: 90px;
    /* border-radius: 5px; */
}

.blog-folder {
    display: flex;
    width: 90px;
    height: 90px;
    /* border-radius: 5px; */
    border-style: solid;
    border-color: #009C9B00;
    border-width: 0 0 2px 0;
    flex-direction: column-reverse;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 15px 15px -15px rgba(0, 255, 255, .0);
    transition-duration: 50ms;
}

.blog-folder:hover {
    box-shadow: 0px 15px 15px -15px rgba(0, 255, 255, .9);
    border-color: #00FFFF;
    transition-duration: 50ms;
}

.blog-folder:active {
    
}

.blog-folder-banner {
    display: flex;
    flex-grow: 1;
    z-index: 0;
}

.blog-folder-banner-gradient {
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 1;
    /* border-radius: 3px; */
    background-image: linear-gradient(0deg, #2b1767, transparent);
}

.blog-folder-header {
    padding: 5px;
    font-size: 8px;
    position: absolute;
    color: #5cffff;
    width: 80px;
    z-index: 2;
}

.blog-root {
    padding: 8px;
    height: 0px;
    display: flex;
    flex-direction: column;
}

.blog-content-root {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-folders-root {
    width: 400px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    gap: 8px;
    justify-content: center;
}