:root {
    --button-rotation: 60deg;
    --button-offset: -350px;
    --button-active-offset: -425px;
}

.homepage-root {
    transform: translate(-50%, -50%);
    position: absolute;
    top: calc(50% - 64px);
    left: 50%;
    align-items: center;
    justify-items: center;
    display: flex;
    width: 0;
    height: 0;
    z-index: 10;
}

.homepage-button-root {
    position: absolute;
    transform-origin: 50% 100%;
    overflow: visible;
}

.homepage-button {
    transform: translate(0%, var(--button-offset));
    width: 200px;
    height: 120px;
    background-image: url('../content/button-homepage-curved-back.svg');
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    border-width: 0;
    cursor: pointer;
    font-family: var(--main-font);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: visible;
    opacity: 1;
    transition-duration: 0.15s;
}

.homepage-button.is-active {
    transform: translate(0%, var(--button-active-offset));
    transition-duration: 0.15s;
    opacity: 0;
}

.homepage-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cyan;
    font-weight: 600;
    font-size: 28px;
}

.homepage-button:hover > .homepage-button-text {
    color: #E135ED;
    transition-duration: 0.15s;
}

.homepage-button-vfx {
    width: 100%;
    height: 100%;
    background-image: url('../content/button-homepage-curved.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.02);
}

.homepage-button:hover > .homepage-button-vfx {
    transform: translate(0, -9px) scale(1.05);
    transition-duration: 0.15s;
}

.homepage-button:active > .homepage-button-vfx {
    transform: translate(0, -3px) scale(1.05);
    transition-duration: 0.15s;
}