.likes-container {
    width: 50px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    font-size: 8px;
    background-color: #23193f;
    font-family: 'space-mono';
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-self: end;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.likes-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-icon-liked {
    background-image: url('../content/images/icon-like.svg');
}

.like-icon-nolike {
    background-image: url('../content/images/icon-no-like.svg');
}

.likes-number {
    width: 15px;
    height: 15px;
    color: #009C9B;
    font-family: 'space-mono';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}