.link-container {
    padding: 5px;
    border-radius: 5px;
    color: #009C9B;
    background-color: #23193f;
    font-family: 'space-mono';
    margin-top: 5px;
    font-size: 10px;
    width: 370px;
}

.link-url {
    font-family: 'space-mono';
    text-decoration: underline;
}

.link-url:link {
    color: #ff41e6;
}

.link-url:visited {
    color: #9b218b;
}

.link-url:hover {
    color: #ff8aef;
}

.link-url:active {
    color: #d48aff;
}

.link-space {
    padding: 5px;
    width: 370px;
    height: 10px;
    margin-top: 5px;
}