.music-link-container {
    padding: 5px;
    border-radius: 5px;
    color: #ff41e6;
    background-color: #23193f;
    font-family: 'space-mono';
    font-size: 6px;
    margin-top: 5px;
    font-size: 10px;
    width: 150px;
    cursor: pointer;
}