.portfolio-root {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-youtube-container {
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.yt-description-container {
    z-index: 1;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--main-font);
    color: #00FFFF;
}

.yt-title {
    font-weight: 600;
    font-size: 24px;
}

.crt-image-container {
    height: 400px;
    background-image: url('../content/images/tex_crt.webp');
    background-size: cover;
    z-index: 1;
}

.video-embed {
    position: absolute;
    width: 450px;
    height: 293px;
    top: 50px;
    left: 34px;
}