:root {
    --main-font: 'space-mono';
}

body {
    margin: 0;
    touch-action: none;
    overflow: hidden;
}

.test-test {
    width: 220px;
    height: 120px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

.btn-back {
    width: 120px;
    height: 42px;
    position: fixed;
    top: 69px;
    left: calc(50% - 600px);
    font-size: 8px;
    color: cyan;
    font-family: 'space-mono';
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: #23193f;
    border-style: solid;
    border-color: #00FFFF00;
    border-width: 0 0 2px 0;
    line-height: 25px;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0px 15px 15px -15px rgba(0, 255, 255, .0);
    transition-duration: 50ms;
}

.btn-back:hover {
    /* border-width: 2px; */
    border-color: #00FFFF;
    box-shadow: 0px 15px 15px -15px rgba(0, 255, 255, .9);
    transition-duration: 50ms;
}

.btn-back:active {
    /* border-width: 2px; */
    border-color: #00aaaa;
}

.logon-input-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}

@media screen and (max-width: 768px) {
    .logon-input-mobile {
        display: block;
        z-index: 1000;
    }

    .btn-back {
        transform: translate(30%, -100%);
    }
}

.cursor-circle {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 256px;
    height: 256px;
    font-family: 'space-mono';
}

.general-root {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    pointer-events: none;
}

.category-header {
    position: fixed;
    top: 69px;
    left: calc(50% - 460px);
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    color: #00FFFF;
}